body{
    font-family:"poppins", sans-serif;
    overflow-x: hidden;
    height: 100%;
    position: relative;
    max-width: 100%;
    font-size: 1rem;
}

.page-titles ,
.deznav ,
.header,
.submit-order-edit ,
.nav-header,
#print-orders{
    display: none;
}
.container-fluid{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
@media screen {
    .costum-ele-print{
        display: none;
    }

}
