@import "main";
@font-face {
    font-family: "kufi";
    src: url("../fonts/Droid-Arabic-Kufi.ttf");
    font-weight: normal;
    font-style: normal;
  }
  body{
    font-family: kufi, sans-serif !important;
  }

  .social-icon{
    font-size: 35px;
    margin: 0 5px;
  }
